:root {
	--dark-gray: #1b1b1b;
	--light-gray: #d0d0d0;
	--white: #f6f6f6;

	--bg-color: var(--dark-gray);
	--fg-color: var(--light-gray);
}

body {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
	background-color: var(--bg-color);
	color: var(--fg-color);
}

header > h1 {
	margin: 2rem 0;
	text-align: center;
}

rect.key {
	stroke: #999;
	fill: transparent;
	stroke-width: 1px;
}

.container {
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

@media (min-width: 720px) {
	header > h1 {
		margin: 4rem 0;
	}

	.container {
		max-width: calc(720px - 2rem);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--bg-color: var(--white);
		--fg-color: var(--dark-gray);
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: var(--dark-gray);
		--fg-color: var(--light-gray);
	}
}
